Repository chainbound/msg-rs, pull requests merged in 2024-01, with the labels that each got.

#55 Perf: updated subscriber socket subsystem
  Cargo.lock
  msg-common/Cargo.toml
  msg-common/src/lib.rs
  msg-socket/src/sub/driver.rs
  msg-socket/src/sub/mod.rs
  msg-socket/src/sub/session.rs
  msg-socket/src/sub/socket.rs
Labels: A-socket, C-performance

#48 QUIC transport + API changes
  Cargo.lock
  Cargo.toml
  book/src/usage/authentication.md
  book/src/usage/compression.md
  book/src/usage/encryption.md
  book/src/usage/socket-types.md
  book/src/usage/transport-layers.md
  msg-common/Cargo.toml
  msg-common/src/lib.rs
  msg-socket/src/pub/driver.rs
  msg-socket/src/pub/mod.rs
  msg-socket/src/pub/socket.rs
  msg-socket/src/rep/driver.rs
  msg-socket/src/rep/mod.rs
  msg-socket/src/rep/socket.rs
  msg-socket/src/req/driver.rs
  msg-socket/src/req/mod.rs
  msg-socket/src/req/socket.rs
  msg-socket/src/sub/driver.rs
  msg-socket/src/sub/mod.rs
  msg-socket/src/sub/socket.rs
  msg-transport/Cargo.toml
  msg-transport/src/durable/session.rs
  msg-transport/src/lib.rs
  msg-transport/src/quic/config.rs
  msg-transport/src/quic/mod.rs
  msg-transport/src/quic/stream.rs
  msg-transport/src/quic/tls.rs
  msg-transport/src/tcp/mod.rs
  msg/benches/pubsub.rs
  msg/benches/reqrep.rs
  msg/examples/durable.rs
  msg/examples/pubsub.rs
  msg/examples/pubsub_auth.rs
  msg/examples/pubsub_compression.rs
  msg/examples/quic_vs_tcp.rs
  msg/examples/reqrep.rs
  msg/examples/reqrep_auth.rs
Labels: C-feature, A-transport

#64 feat(qol): use `ToSocketAddrs` for public-facing socket apis
  book/src/usage/transport-layers.md
  msg-socket/src/pub/mod.rs
  msg-socket/src/pub/socket.rs
  msg-socket/src/rep/mod.rs
  msg-socket/src/rep/socket.rs
  msg-socket/src/req/socket.rs
  msg-socket/src/sub/driver.rs
  msg-socket/src/sub/socket.rs
  msg/benches/pubsub.rs
  msg/benches/reqrep.rs
  msg/examples/durable.rs
  msg/examples/pubsub.rs
  msg/examples/pubsub_auth.rs
  msg/examples/pubsub_compression.rs
  msg/examples/quic_vs_tcp.rs
  msg/examples/reqrep.rs
  msg/examples/reqrep_auth.rs
Labels: C-feature, S-breaking, A-socket

#66 feat: reqrep compression
  book/src/links.md
  book/src/usage/compression.md
  msg-socket/src/rep/driver.rs
  msg-socket/src/rep/mod.rs
  msg-socket/src/rep/socket.rs
  msg-socket/src/req/driver.rs
  msg-socket/src/req/mod.rs
  msg-socket/src/req/socket.rs
  msg-socket/src/sub/driver.rs
  msg-socket/src/sub/stream.rs
  msg-wire/src/compression/mod.rs
  msg-wire/src/reqrep.rs
  msg/examples/reqrep_compression.rs
Labels: C-feature, S-breaking, A-wire, A-compression

#70 feat: `ConnectionState` abstraction
  Cargo.lock
  msg-common/Cargo.toml
  msg-common/src/lib.rs
  msg-socket/src/connection/backoff.rs
  msg-socket/src/connection/mod.rs
  msg-socket/src/connection/state.rs
  msg-socket/src/lib.rs
  msg-socket/src/pub/socket.rs
  msg-socket/src/rep/mod.rs
  msg-socket/src/req/driver.rs
  msg-socket/src/req/mod.rs
  msg-socket/src/req/socket.rs
  msg-socket/src/sub/driver.rs
  msg-socket/src/sub/stream.rs
  msg/examples/reqrep.rs
Labels: C-feature, A-socket
